@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
    background-color: #a0a081;
}

.navbar {
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #a0a081;
    border: solid thin grey;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    padding-top: 8px;
    padding-bottom: 15px;
    padding-left: 17.7%;
    font-size: 25px;
}

.nav-right{
    padding-right: 35%;
}

.link-spacing{
    display: flex;
    margin-left: -8%;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
}

a:link {
    color:black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: underline;
}
a:active {
    color: black;
    text-decoration: none;
}

#logo {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    margin: 0%;
    margin: -4%;
}

#the {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    margin: -2.8%;
    font-size: 100px;
}

#car {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    margin-top: 1.4%;
    font-size: 110px;
}

#white-logo1 {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    color: white;
    font-size: 80px;
}

#white-logo {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    margin-top: -2.7%;
    color: white;
    font-size: 80px;
}

.tighter-text {
    display: flex;
    margin-top: 1%;
    flex-direction: column;  
}

.pre-order-text {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

#paraspaced {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    margin-top: -5%;
    margin-right: 5px;
    margin-left: 5px;
    font-size: x-large;
}

.container {
    position: absolute;
    top: 32%;
    left: 30%;
    width: 40vw;
    height: 40vh;
    background-color: white;
    border: 1px solid white;
}

.inner-image {
    position: absolute;
    top: 5%;
    right: 25px;
    /* width: 50%; */
    height: 36vh;
    width: 19vw;
}

.inner-text1 {
    font-family: 'Russo One', sans-serif;
    font-size: 500%;
    position: absolute;
    left: 10%;
    top: 0.3%;
    color: #a0a081;
}
.inner-text2 {
    font-family: 'Russo One', sans-serif;
    font-size: 500%;
    position: absolute;
    left: 4.3%;
    top: 13%;
    color: #a0a081;
}
.inner-text3 {
    font-family: 'Russo One', sans-serif;
    font-size: 550%;
    position: absolute;
    left: 16%;
    top: 24%;
    color: black;
}
.inner-text4 {
    font-family: 'Russo One', sans-serif;
    font-size: 600%;
    position: absolute;
    left: 15.4%;
    top: 36%;
    color: black;
}
.pre-order-inner{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 150%;
    position: absolute;
    left: 11.5%;
    top: 68%;
    padding: 1%;
    color: #a0a081;
    border: solid thick #a0a081;
}
.pre-save-inner{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 150%;
    position: absolute;
    left: 12%;
    top: 82%;
    padding: 1%;
    color: #a0a081;
    border: solid thick #a0a081;
}

/*.vinyl-cd-cas{
    display: flex;
    justify-content: space-evenly;
} */

.product-grid{
    display: grid;
    margin-right: 50%; /*Percentages might be better for those with lower screen resolutions*/
    margin-left: 50%;
    gap: 1rem;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
    justify-content: space-evenly;
}
.product-grid-apparel{
    display: grid;
    justify-content: space-evenly;
    gap: 1rem;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
    justify-content: space-evenly;
}

.live-grid{
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
    justify-content: space-evenly;
}

.underlines{
    display: flex;
    justify-content: space-evenly;
}
.underline1{
    display: flex;
    border: solid thick black;
    justify-content: center;
    width: 300px;
}
.underline2{
    border: solid thick black;
    width: 300px;
}
.underline3{
    border: solid thick black;
    width: 300px;
}
.underline4{
    border: solid thick black;
    width: 300px;
}

.underline-live{
    display: flex;
    border: solid thick black;
    width: 300px;
}
.false-underline{
    display: flex;
    border: transparent;
    width: 300px;
}

.vinyl-cd-cas-links{
    display: flex;
    justify-content: space-between; /*Sort these out*/
    font-size: 35px;
}

.apparel-links{
    display: flex;
    justify-content: space-evenly;
    font-size: 35px;
}

#heading-center{
    font-family: 'Russo One', sans-serif;
    font-size: 60px;
    text-align: center;
}
#heading2-center{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}

.container1 {
    position: absolute;
    top: 2860px;
    right: 700px;
    width: 1800px;
    height: 400px;
    /*background-color: white;
    border: 1px solid white;*/ /*Uncomment when touching up */
}

.live-container{
    display: flex;
    font-size: 35px;
    justify-content: space-evenly;
}

#live-para{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: x-large;
}

.link-box{
    border: solid thick black;
    padding: 0.5%;
    font-size: x-large;
}
.link-box-live{
    font-family: Arial, Helvetica, sans-serif;
    border: solid thick black;
    padding: 2%;
    font-size: xx-large;
}
.mailing-link-box{
    display: flex;
    border: solid thick black;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 800;
    margin-left: 1%;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 800;
    padding-top: 0.5%;
}

input{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    border: thick solid black;
    background-color: #a0a081;
}
select{
    padding-left: 106.8%;
    padding-right: 50%;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
    border: thick solid black;
    background-color: #a0a081;
}

.label{
    padding-right: 21.6%;
}
.label-email{
    padding-right: 23.2%;
}
.label-country{
    padding-right: 22.5%;
}
.input-country{
    padding-right: 15.7%;
}

.video-index{
    display: flex;
    justify-content: center;
}

.news-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.mailing-list{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    padding-top: 0.8%;
}