@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
    background-color: #a0a081;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #a0a081;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 25px;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: underline;
}
a:active {
    color: black;
    text-decoration: none;
}

#logo {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    margin: 0%;
}

#the {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    margin: 0%;
    font-size: 125px;
}

#car {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    margin: 0%;
    font-size: 135px;
}

#white-logo {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    margin: 0%;
    color: white;
    font-size: 100px;
}

.tighter-text {
    display: flex;
    padding-top: 100px;
    flex-direction: column;  
}

.pre-order-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

#paraspaced {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    margin-right: 5px;
    margin-left: 5px;
    font-size: x-large;
}

/* .container {
    position: absolute;
    top: 300px;
    right: 700px;
    width: 1800px;
    height: 800px;
    background-color: white;
    border: 1px solid white;
} */
.container {
    position: absolute;
    top: 32%;
    left: 30%;
    width: 40%;
    height: 40%;
    background-color: white;
    border: 1px solid white;
}

.inner-image {
    position: absolute;
    top: 5%;
    right: 35px;
    width: 50%;
    height: 90%;
}

.inner-text1 {
    font-family: 'Russo One', sans-serif;
    font-size: 700%;
    position: absolute;
    left: 8%;
    top: 0.5%;
    color: #a0a081;
}
.inner-text2 {
    font-family: 'Russo One', sans-serif;
    font-size: 700%;
    position: absolute;
    left: 1.8%;
    top: 14%;
    color: #a0a081;
}
.inner-text3 {
    font-family: 'Russo One', sans-serif;
    font-size: 750%;
    position: absolute;
    left: 15%;
    top: 26.4%;
    color: black;
}
.inner-text4 {
    font-family: 'Russo One', sans-serif;
    font-size: 800%;
    position: absolute;
    left: 14%;
    top: 39.4%;
    color: black;
}
.pre-order-inner{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 200%;
    position: absolute;
    left: 11.4%;
    top: 68.5%;
    color: #a0a081;
    border: solid thick #a0a081;
}
.pre-save-inner{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 200%;
    position: absolute;
    left: 11.93%;
    top: 80%;
    color: #a0a081;
    border: solid thick #a0a081;
}

/*.vinyl-cd-cas{
    display: flex;
    justify-content: space-evenly;
} */

.product-grid{
    display: grid;
    margin-right: 50%; /*Percentages might be better for those with lower screen resolutions*/
    margin-left: 50%;
    gap: 1rem;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
    justify-content: space-evenly;
}
.product-grid-apparel{
    display: grid;
    justify-content: space-evenly;
    gap: 1rem;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
    justify-content: space-evenly;
}

.live-grid{
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
    justify-content: space-evenly;
}

.underlines{
    display: flex;
    justify-content: space-evenly;
}
.underline1{
    display: flex;
    border: solid thick black;
    justify-content: center;
    width: 300px;
}
.underline2{
    border: solid thick black;
    width: 300px;
}
.underline3{
    border: solid thick black;
    width: 300px;
}
.underline4{
    border: solid thick black;
    width: 300px;
}

.underline-live{
    display: flex;
    border: solid thick black;
    width: 300px;
}
.false-underline{
    display: flex;
    border: transparent;
    width: 300px;
}

.vinyl-cd-cas-links{
    display: flex;
    justify-content: space-between; /*Sort these out*/
    font-size: 35px;
}

.apparel-links{
    display: flex;
    justify-content: space-evenly;
    font-size: 35px;
}

#heading-center{
    font-family: 'Russo One', sans-serif;
    font-size: 60px;
    text-align: center;
}
#heading2-center{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}

.container1 {
    position: absolute;
    top: 2860px;
    right: 700px;
    width: 1800px;
    height: 400px;
    /*background-color: white;
    border: 1px solid white;*/ /*Uncomment when touching up */
}

.live-container{
    display: flex;
    font-size: 35px;
    justify-content: space-evenly;
}

#live-para{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: x-large;
}

.link-box{
    border: solid thick black;
    font-size: x-large;
}
.link-box-live{
    font-family: Arial, Helvetica, sans-serif;
    border: solid thick black;
    font-size: xx-large;
}

.video-index{
    display: flex;
    justify-content: center;
}

.news-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mailing-list{
    display: flex;
    justify-content: center;
}