* {
    background-color: #a0a081;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #a0a081;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

#logo {
    text-align: center;
    margin: 0%;
}

#white-logo {
    text-align: center;
    margin: 0%;
    color: white;
}

.tighter-text {
    display: flex;
    padding-top: 100px;
    margin: 0px;
    flex-direction: column;    
}

.pre-order-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.pre-order-text-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

#paraspaced {
    margin-right: 5px;
    margin-left: 5px;
    font-size: x-large;
}